<footer class="h-quarter bg-black text-white link-red">
    <ul id="socials" class="list-linear list-spread v-center p-sm m-auto">
        <li><a href="https://x.com/dsaiowacity"><i class="fa-brands fa-x-twitter"></i><span class="sm-hide">X</span></a></li>
        <li><a href="https://www.facebook.com/IowaCityDSA/"><i class="fa-brands fa-facebook-f"></i><span class="sm-hide">Facebook</span></a></li>
        <!-- <li><a href="#"><i class="fa-brands fa-mastodon"></i><span class="sm-hide">Mastodon</span></a></li> -->
        <li><a href="https://discord.com/invite/rkqkEKvCyB"><i class="fa-brands fa-discord"></i><span class="sm-hide">Discord</span></a></li>
        <li><a href="https://www.instagram.com/iowacitydsa/"><i class="fa-brands fa-instagram"></i></i><span class="sm-hide">Instagram</span></a></li>
        <li><a href="https://github.com/wjdenny/icdsa"><i class="fa-brands fa-github"></i><span class="sm-hide">GitHub</span></a></li>
    </ul>
    <ul id="map" class="list-linear list-spread v-center p-sm m-auto">
        <li><a href="/about">About</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="https://act.dsausa.org/donate/membership/">Join</a></li>
        <li><a href="https://donorbox.org/icdsa-donation">Donate</a></li>
    </ul>
    <div id="copyright" class="flex v-center h-center text-black-4">&copy;2024 Iowa City Democratic Socialists of America</div>
</footer>