<footer>
    <ul id="socials">
        <li><a href="https://x.com/dsaiowacity"><i class="fa-brands fa-x-twitter"></i><span class="socials-description">X</span></a></li>
        <li><a href="https://www.facebook.com/IowaCityDSA/"><i class="fa-brands fa-facebook-f"></i><span class="socials-description">Facebook</span></a></li>
        <!-- <li><a href="#"><i class="fa-brands fa-mastodon"></i><span class="socials-description">Mastodon</span></a></li> -->
        <li><a href="https://discord.com/invite/rkqkEKvCyB"><i class="fa-brands fa-discord"></i><span class="socials-description">Discord</span></a></li>
        <li><a href="https://www.instagram.com/iowacitydsa/"><i class="fa-brands fa-instagram"></i></i><span class="socials-description">Instagram</span></a></li>
        <li><a href="https://github.com/wjdenny/icdsa"><i class="fa-brands fa-github"></i><span class="socials-description">GitHub</span></a></li>
    </ul>
    <div id="copyright">&copy;2024 Iowa City Democratic Socialists of America</div>
</footer>