<header class="link-black text-black bg-red">
    <a id="site-logo" href="/"><img class="h-sm w-sm" src="/assets/images/Main_Logo_Square_Small.png" alt="DSA logo showing a white and black hand grasping each other underneath a rose." /></a>
    <div id="site-header" class="p-sm v-base">
        <h1 id="site-title" class="text-nowrap link-black"><a href="/">Iowa City DSA</a></h1>
        <nav id="site-nav">
            <ul class="list-linear list-spread">
                <li><a href="/events">Events</a></li>
                <li><a href="https://act.dsausa.org/donate/membership/">Join</a></li>
                <li><a href="https://donorbox.org/icdsa-donation">Donate</a></li>
                <li><a href="/report-a-grievance/">Report a Greivance</a></li>
            </ul>
        </nav> 
    </div>
</header>