<header>
    <a href="/"><img class="site-logo" src="/assets/images/Main_Logo_Square_Small.png" alt="DSA Logo" /></a>
    <h1 class="site-title"><a href="/">Iowa City DSA</a></h1>
    <nav class='menu'>
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Join</a></li>
            <li><a href="#">Donate</a></li>
        </ul>
    </nav> 
</header>