{% extends "base.njk" %}

{% block main %}
<main class="no-overflow">
    <section id="hero" class="h-whole w-whole">
        <img class="image-fit image-background w-whole h-whole obscure" src="./assets/images/dsa_group.png" alt="Group photo of Iowa City DSA members taken a long time ago."" />
        <div class="text-red text-size-rxl text-center blur text-shadow h-parent">Iowa City Democratic Socialists of America</span>
    </section>
    <section class="m-md text-line-sm text-justify" id="intro">
        {{ content | safe }}
    </section>

    <section id="projects">
        <h2>Current Projects</h2>
        <ul>
            {% for project in collections.projects %}
                <li><a href="{{ project.url}}">{{ project.data.title }}</a></li>
            {% endfor %}
        </ul>
    </section>
</main>
{% endblock %}