/*
    This file defines the color and styles specific to DSA's style guide.
*/

:root {
    --color-dsa-red:     #EC1F27;
    --color-dsa-red-1:   #F04C53;
    --color-dsa-red-2:   #F4797E;
    --color-dsa-red-3:   #F7A5A9;
    --color-dsa-red-4:   #FBD2D4;
    --color-dsa-black:   #231F20;
    --color-dsa-black-1: #3B3838;
    --color-dsa-black-2: #605C5C;
    --color-dsa-black-3: #8C8989;
    --color-dsa-black-4: #C1C0BF;

    font-family: "S-Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}