/* Set up a grid including a copyright notice, social icons, and a join button. */
footer {
    display: grid;
    grid-template-areas: 
        "socials   socials"
        "copyright copyright";
}

footer #socials {
    grid-area: socials
}

footer #join {
    grid-area: join
}

footer #copyright {
    grid-area: copyright
}

/* Use theme.css background and foreground color */
footer {
    background-color: var(--color-footer-background);
    color: var(--color-footer-text);
}

footer a {
    color: var(--color-footer-text);
    text-decoration: none;
}

footer a:hover {
    color: var(--color-footer-highlight)
}

footer {
    padding: 1rem;
}

#socials {
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 12rem;
}

#socials li {
    display: inline;
}

#socials .socials-description {
    display: none;
}

#copyright {
    font-size: 0.8rem;
    text-align: center;
    opacity: 0.5;
    margin-top:1rem;
}

footer {
    position: relative;
}

footer:before {
    content: ' ';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: var(--height-logo);
    height: var(--height-logo);
    background-image: url("../images/Mono_Logo_White_Small.png");
    background-size: var(--height-logo);
    background-repeat: no-repeat;
    opacity: 0.25;
}

@media screen and (min-width: 800px) {
    #socials {
        display: block;
        margin: 0;
    }

    #socials li {
        display: block;
        line-height: 1.3;
    }

    #socials a i {
        text-align: center;
        width: 3rem;
    }

    #socials .socials-description {
        display: initial;
    }
}