:root {
    --height-nav:        80px;
    --color-dsa-red:     #EC1F27;
    --color-dsa-red-1:   #F04C53;
    --color-dsa-red-2:   #F4797E;
    --color-dsa-red-3:   #F7A5A9;
    --color-dsa-red-4:   #FBD2D4;
    --color-dsa-black:   #231F20;
    --color-dsa-black-1: #3B3838;
    --color-dsa-black-2: #605C5C;
    --color-dsa-black-3: #8C8989;
    --color-dsa-black-4: #C1C0BF;
    
    
    /* 
    The color scheme is defined with the following variables. You should not
    have to edit the other CSS files to change colors. 
    */
    --color-nav-background: var(--color-dsa-red);
    --color-footer-background: var(--color-dsa-black);
    
    --color-nav-text: var(--color-dsa-black);
    --color-footer-text: var(--color-dsa-black-4);
    
    --color-footer-highlight: var(--color-dsa-red);

    --color-main-text: var(--color-dsa-black);
    --color-main-highlight: var(--color-dsa-red);

    /*
    Similarly, you can edit the size of certain parts of the website with
    the following variables.
    */
    font-size:          16px;   /* General font size, expressed in points. */
    --size-site-tile:   1.5rem; /* Site title size in units relative to the base font-size (e.g., 1.5rem = 150% base font size) */   
    --height-logo:      80px;   /* Height of the logo; other sections of the header scale with this. */

    /* Break points */
    --breakpoint-tablet: 800px;
    --breakpoint-laptop: 1024px;
}