body {
    /* Remove default margins to give us full coverage of the screen. */
    margin: 0;
    
    /* Define a grid with a header, main, and footer section */
    display: grid;
    grid-template-areas:
    "header"
    "hero"
    "main"
    "footer";
    
    /* 
     Set size of the three sections to provide the header and footer enough
     space for their content, and let main expand to fill the whole screen.
     Setting the min-height of body to 100vh (100% of the view height) is needed
     for the browser to calculate the height of 1fr. 
    */
    min-height: 100vh; 
    grid-template-rows: auto 1fr auto;
}